@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lato:wght@700&display=swap');

* {
  font-family: 'Cabin', sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

